[submodule "MarchingCubesShader/vendor/GLFW"]
	path = MarchingCubesShader/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "MarchingCubesShader/vendor/glm"]
	path = MarchingCubesShader/vendor/glm
	url = https://github.com/g-truc/glm
